html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px grey;
}
header h1 {
    font-family: 'Lobster', cursive;
    font-size: 8em;
}
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2em;
}
.presentation h2 {
    margin-top: 0.5em;

}
header {
    text-align: center;
    padding: 1em 0;
}
#title {
     -webkit-animation-name: spinner; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 2s; 
    animation-name: spinner; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-duration: 2s; 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

  /* WebKit and Opera browsers */ @-webkit-keyframes spinner { 
    from 
    { 
        -webkit-transform: rotateY(0deg); 
    } 
    to { 
        -webkit-transform: rotateY(-360deg); 
    } 
} /* all other browsers */ 
@keyframes spinner { 
    from { 
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg); 
    } 
    to 
    { 
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg); 
    
    } 
}
.background-img {
    background-image: url(../img/wallpaper2.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
    height: 100%;
}
main {
    width: 75%;
    margin: 4em auto;
    text-align: center;
}

/*div.presentation {
    border-bottom: 1px solid black;
}*/
.presentation {
    margin-bottom: 2em;
}
.presentation p {
    width: 75%;
    margin: 1.5em auto;
}
.visibility {
    opacity: 0;
}
.bxslider p {
    margin: 0 auto 0.5em auto;
}
.list-courses {
    width: 75%;
    margin: 1.5em auto;
}
.row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.center {
    align-items: center;
}
.row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
nav {
    padding: 1em;
    background: rgba(255, 255, 255, 0.35);
}
nav a {
    padding: 1em;
    color: black;
    transition: 0.33s all ease-out;
}
nav a:hover {
    padding: 1em;
    background: rgba(0, 0, 0, 0.50);
    color: white !important;
    transition: 0.33s all ease-out;
}
a {
    text-decoration: none !important;
    color: black;
}
.underline {
    text-decoration: underline !important;
    color: black;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: auto;
}
.description {
    padding: 0 1em;
}
.title-meeting {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.25em 0.5em;
    font-weight: bold;
}
.hidden {
    display: none;
}
.form {
    margin: auto;
}
.title-container {
    margin-bottom: 2em;
}
input, select, button {
    border: none;
    box-shadow: 0 0 1px black;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    width: 25%;
    margin: 0.5em auto 0 auto;
    transition: 0.33s all ease-out;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
input:focus {
    box-shadow: 0 0 5px black;
}
button {
    background-color: black;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px black;
}
.logoinline{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
p {
    color: black;
}
.img-div { height:100%; width:100%;}
img { max-width:100% }
.index > div, .index > form {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.meeting-container {
    width: 100%;
}
.sumup {
    width: 90%;
    margin: auto;
}
.dateinfo {
    margin-left: 1em;
}
button.plusinfos {
    background: none;
    color: black;
    border: none;
    box-shadow: none;
}
.plusinfos {
    margin: auto;
    cursor: pointer;
}
.eventinfo {
    margin: 2em auto;
    padding: 2em 0;
}
.registermeeting {
    width: 100%;
    padding: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.33s all ease-out;
}
.registermeeting:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
}
.fullwidth {
    margin-top: 2em;
}
.descriptionmeeting {
    width: 75%;
    margin: auto;
}