html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px grey;
}
header h1 {
    font-family: 'Lobster', cursive;
    font-size: 8em;
}
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2em;
}
header {
    text-align: center;
    box-shadow: 0 0 5px white;
    padding: 1em 0;
}
main {
    width: 75%;
    margin: 2em auto;
    text-align: center;
}
/*div.presentation {
    border-bottom: 1px solid black;
}*/
.presentation {
    margin-top: 1em;
}
.presentation p {
    width: 75%;
    margin: 1.5em auto;
}
.list-courses {
    width: 75%;
    margin: 1.5em auto;
}
.row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.center {
    align-items: center;
}
.row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
nav {
    position: sticky !important;
    padding: 1em;
    border-bottom: 1px solid black;
    background: black;
}
nav a {
    padding: 1em;
    color: white;
    transition: 0.33s all ease-out;
}
nav a:hover {
    padding: 1em;
    background-color: white;
    color: black;
    border-top: 1px solid black;
    transition: 0.33s all ease-out;
}
a {
    text-decoration: none !important;
}
nav div a:not(:last-of-type) {
    border-right: 1px solid white;
}
.underline {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: auto;
}
.description {
    padding: 0 1em;
}
.title-meeting {
    background-color: black;
    color: white;
    padding: 0.25em 0.5em;
    font-weight: bold;
}
.hidden {
    display: none;
}
.form {
    margin: auto;
}
.title-container {
    margin-bottom: 2em;
}
input, select, button {
    border: none;
    box-shadow: 0 0 1px black;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    width: 25%;
    margin: 0.5em auto 0 auto;
    transition: 0.33s all ease-out;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
input:focus {
    box-shadow: 0 0 5px black;
}
button {
    background-color: black;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px black;
}
.logoinline{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
p {
    color: black;
}