html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px grey;
}
header h1 {
    font-family: 'Lobster', cursive;
    font-size: 8vw;
}
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
}
.presentation h2 {
    margin-top: 0.5vw;

}
header {
    text-align: center;
    padding: 1vw 0;
}
.menudown-container {
    cursor: pointer
}
.title {
    -webkit-animation-name: spinner; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 2s; 
    animation-name: spinner; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-duration: 2s; 
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}
@-webkit-keyframes spinner { 
    from { 
        -webkit-transform: rotateY(0deg); 
    } 
    to { 
        -webkit-transform: rotateY(-360deg); 
    } 
} /* all other browsers */ 
@keyframes spinner { 
    from { 
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg); 
    } 
    to { 
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg); 
    
    } 
}
.background-img {
    background-image: url(../img/wallpaper2.jpg);
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1;
    height: 100%;
}
main {
    width: 75%;
    margin: 4vw auto;
    text-align: center;
}

/*div.presentation {
    border-bottom: 1px solid black;
}*/
.presentation {
    margin-bottom: 2vw;
}
.presentation p {
    width: 75%;
    margin: 1.5vw auto;
}
.visibility {
    opacity: 0;
}
.bxslider p {
    margin: 0 auto 0.5vw auto;
}
.list-courses {
    width: 75%;
    margin: 1.5vw auto;
}
.row-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.center {
    align-items: center;
}
.stretch {
    align-items: stretch;
}
.row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
nav {
    padding: 1vw;
    background: rgba(255, 255, 255, 0.35);
}
nav a {
    padding: 1vw;
    color: black;
    transition: 0.33s all ease-out;
}
nav a:hover {
    padding: 1vw;
    background: rgba(0, 0, 0, 0.50);
    color: white !important;
    transition: 0.33s all ease-out;
}
a {
    text-decoration: none !important;
    color: black;
}
.underline {
    text-decoration: underline !important;
    color: black;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: auto;
}
.description {
    padding: 0 1vw;
}
.title-meeting {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.25vw 0.5vw;
    font-weight: bold;
}
.hidden {
    display: none;
}
.form {
    margin: auto;
}
.title-container {
    margin-bottom: 2vw;
}
input, select, button, textarea {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: inherit;
    border: none;
    box-shadow: 0 0 1px black;
    box-sizing: border-box;
    padding: 0.25vw 0.5vw;
    width: 25%;
    margin: 0.5vw auto 0 auto;
    transition: 0.33s all ease-out;
}
textarea {
    resize: vertical;
}
form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}
input:focus {
    box-shadow: 0 0 5px black;
}
button {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1vw 2vw;
    cursor: pointer;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    box-shadow: 0 0 5px black;
}
.logoinline{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
p {
    color: black;
}
.img-div { 
    height:100%; 
    width:100%;
}
img { 
    max-width:100% 
}
.index > *{
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.meeting-container {
    width: 100%;
}
.sumup {
    width: 90%;
    margin: auto;
}
.dateinfo {
    margin-left: 1vw;
}
button.plusinfos {
    background: none;
    color: black;
    border: none;
    box-shadow: none;
}
.plusinfos {
    margin: auto;
    cursor: pointer;
}
.eventinfo {
    margin: 2vw auto;
    padding: 2vw 0;
}
.registermeeting {
    padding: 1vw;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.33s all ease-out;
}
.registermeeting:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
}
.fullwidth {
    margin-top: 2vw;
}
.descriptionmeeting {
    width: 75%;
    margin: auto;
}
.array {
    width: 75%;
    margin:auto;
}
.array-row {
    width: 100%;
}
.array-column {
    width: 100%;
    margin: auto;
    padding: 0.25vw 0;
}
.styletab:nth-child(odd) {
    background: rgba(0, 0, 0, 0.5);
        color: white;
}
.styletab:nth-child(even) {
    background: rgba(0, 0, 0, 0.75);
        color: white;   
}
.title-row {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.25vw 0.5vw;
}
.nav-wrapper {
    width: 100%;
}
.nav-wrappering {
    margin: auto;
    width: 75%;
}
#minititle {
    color:white;
    text-shadow: 2px 2px 2px black;
}
.adminadd {
    padding: 1vw;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 125%;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.margin {
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.margin-bottom {
    margin-bottom: 2vw;
}
.margin-auto {
    margin: auto;
}
.small {
    flex-shrink: 2;
}
.timeedit {
    text-align: center;
}

@media screen and (max-width : 720px) {
    .menu {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav-wrappering, main, .sumup {
        width: 100%;
    }
}